<template>
    <div class="guia-card-square mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">{{ nome }}</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Telefone: {{ telefone }}
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                + Detalhes
            </a>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['nome', 'telefone']
    };
</script>

<style scoped>
    .guia-card-square {
        margin-bottom: 1em;
    }
    .guia-card-square > .mdl-card__title {
        color: #fff;
        background: #46B6AC;
    }
</style>
