<template>
    <div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                <i class="material-icons">search</i>
            </label>
        <div class="mdl-textfield__expandable-holder">
            <input type="search" class="mdl-textfield__input" @input="filtro = $event.target.value" placeholder="Filtrar por nome" id="sample6">
        </div>
        </div>
        <ul>
            <li class="lista" v-for="medico of dadosFiltrados" :key="medico.id">
                <card :nome="medico.nome" :telefone="medico.telefone"/>
            </li>
        </ul>
    </div>
</template>

<script>
import Card from "../card/Card.vue";
import Dados from "../../../db/Dados.js";
export default {
  components: {
    card: Card
  },
  data() {
    return {
      medicos: Dados.medicos,
      filtro: ""
    };
  },
  computed: {
    dadosFiltrados() {
      if (this.filtro) {
        let exp = new RegExp(this.filtro.trim(), "i");
        return this.medicos.filter(
          m => exp.test(m.nome) || exp.test(m.especialidade)
        );
      } else {
        return this.medicos;
      }
    }
  }
};
</script>

<style scoped>
    .lista {
        list-style: none;
    }
</style>
